.form-add-artist{
    padding-left: 30%;
    padding-right: 30%;
}

.title{
    text-align: center;
    margin-bottom: 25px;
}

.boton-add-artist{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.alertMessage{
  padding-left: 25%;
  padding-right: 25%;
}

.image-for-edit img {
  max-width: 40%;
}
