.formulario-add-user{
    padding-left: 25%;
    padding-right: 25%;
}

.title{
    text-align: center;
    margin-bottom: 10px;
}

.image-for-edit {
    text-align: center;
}

.image-for-edit img{
    max-width: 40%;
}

.btn-actualizar{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
